<% @title = "#{@repo.name}" %>

<h1><%=h @repo.name %></h1>

<ul>
  <% for commit in @repo.commits %>
    <li><%= link_to(h(commit.message), repo_commit_path(@repo, commit.id)) %></li>
  <% end %>
</ul>
