body { font: 13px/16px Helvetica; margin: 32px; }

th { text-align: left; }

pre { font: 12px/16px Courier; background: #f8f8ff; padding: 6px 12px; }

.listing { }
  .listing .line_numbers { color: #aaaaaa; font: 12px/16px Courier; text-align: right; background: #eaeaea; float: left; width: 43px; padding: 6px 0; border: 1px solid #dedede }
  .listing pre { font: 12px/16px Courier; background: #f8f8ff; padding: 6px 12px 6px 60px; border: 1px solid #dedede}
  
.git_patch { overflow: auto; background: #f8f8ff; border: 1px solid #dedede; margin: 16px 0; }
  .git_patch .path { font: 12px/16px Monaco; background: #eaeaea; padding: 6px 12px; border-bottom: 1px solid #dedede; }
  .git_patch .chunk { }
    .git_patch .chunk .line_numbers { color: #aaaaaa; font: 12px/16px Courier; text-align: right; background: #eaeaea; border-right: 1px solid #dedede; float: left; width: 35px; }
    .git_patch .chunk .line { white-space: pre; font: 12px/16px Courier; padding: 0 12px 0 84px; }
    .git_patch .chunk .line.add { background: #ddffdd; }
    .git_patch .chunk .line.delete { background: #ffdddd; }
    